table {
    align-self: center;
     margin-top: 10rem;
    border-collapse: collapse;
    width: 50%
  }

  th, td {
    border: 1px solid black;
    text-align: left;
    padding: 12px;
  }
  #table-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }